body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: url("bg_texture.JPG");
    font-size: large;
}

.pupper{
    height: auto;
    width: 280px;
}

.content{
    border: 1px solid pink;
    border-radius: 1px;
    background-color: pink;
    margin: auto;
    text-align: center;
    width: 600px;
    height: auto;
}

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: black;
}

a:active{
    color: black;
}